
/* ESTILO GERAL */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #121212;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* itens do revelar precisam ser escondidos primeiro no css */
.efeito-txt-topo, .efeito-img-topo, .titulo, .efeito-especialidades1, .efeito-especialidades2, .efeito-especialidades3, .efeito-img-sobre, .efeito-txt-sobre, .efeito-projeto1, .efeito-projeto2, .efeito-projeto3, .input1, .input2, .input3, .input4, .efeito-btn-enviar{
    visibility: hidden; /*visibilade escondida*/
}

.btn-contato button{ 
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 400;
    background-color: #31AFB4;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #31AFB4;
}


button:hover{ 
    box-shadow:2px 2px 2px 1px rgba(1, 236, 249, 0.222);    
    transform: scale(1.02);
}
/*MODO DARK LIGHT*/
.trilho{
    width: 100px;
    height: 50px;
    background-color: #4d4d4d;
    border-radius: 150px;
    box-shadow: 0px 5px 1px 2px rgb(0,0,0,0.45) inset;
    position: relative;
    cursor: pointer;
}
.trilho .indicador:hover{
    background-color: grey;
}
.trilho .indicador{
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.655);
    border-radius: 50%;
    transform: scale(.7);
    position: absolute;
    left: 0;
    transition: .5s;
}

.trilho.dark .indicador{
    left: 50px;
    background-color: #fff;
}
.trilho.dark .indicador:hover{
    background-color: grey;
}
.trilho.dark{
    background-color: #c3c3c3;
}

body.dark{
    background-color: #e4e4e4;
}

body.dark h1{
    color: #000;
}

/* MENU MOBILE */
.menu-mobile.abrir{
    width: 85%;
    height: 100%;
}
/* .menu-mobile.abrir ~ .overlay-menu{
    display: block;
} */
.btn-abrir-menu{
    color: #31AFB4;
    font-size: 45px;
    display: none;
}
.menu-mobile{
    background-color: rgb(46, 46, 46);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 0%;
    overflow: hidden;
    transition: .3s;
}
.menu-mobile .btn-fechar {
    padding: 20px 5%;
}
.menu-mobile nav ul{
    text-align: center;
}
.menu-mobile nav ul li a{
    color:#fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}
.menu-mobile nav ul li a:hover{
    background-color: #31AFB4;
}

.menu-mobile .btn-fechar i{
    color: #31AFB4;
    font-size: 30px;
}
.overlay-menu{
    background-color: #00000077;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 888888;
    display: none;
}

/* ESTILHO CABEÇALHO */

header{
    padding: 0px 4%;
}

/* Procura diretamente a classe interface */
header > .interface{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    display: inline-block;
    color: #5c5c5c;
    text-decoration: none;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}
header .logo img{
    width: 150px;
}
header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site{
    padding: 80px 4%;
}
section.topo-so-site .flex{
    align-items: center;
    justify-content: center;
}
.topo-do-site h1{
    color:#fff;
    line-height: 40px;
    font-size: 42px;
}
.topo-do-site .txt-topo-site{
    margin-top: 10%;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0px; 
    font-size: 25px;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 1.5s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 40px;
    }
}

.txt-animado{
    font-size: 45px;
    font-weight: 300;
}

.txt-animado span{
    position: relative;
}
.txt-animado h1{
    color:#fff;
    line-height: 40px;
    font-size: 42px;
}
/*peseudo elemento criado diretamente no css, criadno um elemento dinãmico antes da tag span */
.txt-animado span::before{
    /*conteudo vazio*/
    content: "";
    color: #31AFB4;
    animation: palavras 20s infinite;
}

.txt-animado span::after{
    content: "";
    position: absolute;
    height: 50%;
    border-left: 2px solid #31AFB4;
    right: -10px;
    animation: cursor .7s infinite, digita 25s steps(40) infinite;
    width: calc(100% + 350px);
    background-color: #121212;
}

@keyframes digita{
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
        width: calc(100% + 350px);
    }
}

@keyframes cursor{
    0%{
        border-left: 2px solid #121212; 
    }
}

@keyframes palavras{
    0%, 100%{
        content: "PONTES DIGITAIS PARA CONECTAR O MUNDO .";
    }
}
/* estilos das especialidades */

section.especialidades{
    padding: 90px 4%;
}

section.especialidades .flex{
    gap: 20px;
}

.especialidades .especialidades-box{
    background-color: #14212d;
    color: #fff;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
    width: 50%;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px #ffffff73;
}

.especialidades .especialidades-box i{
    font-size: 80px;
    color: #31AFB4;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 10px 0;
}

/* ESTILO SOBRE */

section.sobre{
    padding: 80px 4%;
}

.img-sobre img{
    border-radius: 15px;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

section.img-sobre{
    padding: 40px 4%; /*40px em cima e em baixo e 4% do lado direito e esquerdo*/
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #31AFB4;
    display: block;
}

.sobre .txt-sobre p{
    margin: 22px 0;
    text-align: justify;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 40%;
    border: none;
    color: #fff;
    background-color: #31AFB4;
    font-size: 18px;
    cursor: pointer;
    margin: 0 8px;
    transition: 0.2s;
}

/* ESTILO PORTIFOLIO */

section.portifolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1a;
}

section.portifolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}
.img-port{
    width: 360px;
    height: 460px;
    background-color: #31AFB4;
    background-size: cover;
    background-position: 100% 0%; 
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover{
    background-position:100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000006b;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* ESTILO SITES HOSPEDADOS */
section.especialidades .bi-incognito,.bi-people-fill{
    transition: 0.5s;
}
section.especialidades .bi-incognito:hover, section.especialidades .bi-people-fill:hover{
    color: #602FBF;
    transform: scale(1.05);
}

/* RODAPÉ */

footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1a;
}

footer .flex{
    justify-content: space-between; /*só funciona com a propriedade flex*/
}
footer img{
    width: 150px;
}
footer .line-footer{
    padding: 20px 0;

}

.borda{
    border-top: 2px solid #31AFB4;
}

footer .line-footer p i{
    color: #31AFB4;
    font-size: 25px;
}

footer .line-footer p a{
    color: #fff;
    margin: 1%;
}

@media screen and (max-width: 1200px){
    /* CLASSE GERAL */
    .flex{
        flex-direction: column;
    }
    h2.titulo{
        line-height: 34px;
        font-size: 30px;
    }

    /* cabeçalho */
    .menu-desktop, .btn-contato{
        display: none;
    }

    /* topo do site */
    section.topo-do-site .flex{
        gap: 5px;
    }
    .btn-abrir-menu{
        display: block;
    }
    section.topo-do-site{
        padding: 20px 4%;
    
    }
    .topo-do-site h1{
        font-size: 30px;
    }
    .topo-do-site .img-topo-site{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .topo-do-site .img-topo-site img{
        width: 65%;
    }
    .txt-animado{
    font-size: 45px;
    font-weight: 300;
    }

    .txt-animado span{
        position: relative;
    }
    .txt-animado h1{
        color:#fff;
        line-height: 40px;
        font-size: 42px;
    }
    /*peseudo elemento criado diretamente no css, criadno um elemento dinãmico antes da tag span */
    .txt-animado span::before{
        /*conteudo vazio*/
        content: "";
        color: #31AFB4;
        animation: palavras 20s infinite;
    }

    .txt-animado span::after{
        content: "";
        position: absolute;
        height: 20%;
        border-left: 2px solid #31AFB4;
        right: -10px;
        animation: cursor .7s infinite, digita 25s steps(40) infinite;
        width: calc(100% + 350px);
        background-color: #121212;
    }

    @keyframes digita{
        10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
            width: 0;
        }
        5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
            width: calc(100% + 350px);
        }
    }

    @keyframes cursor{
        0%{
            border-left: 2px solid #121212; 
        }
    }

    @keyframes palavras{
        0%, 100%{
            content: "PONTES DIGITAIS PARA CONECTAR O MUNDO.";
        }
    }

    /* ESPECIALIDADES */
    section.especialidades{
        padding: 40px 8%;
    }
    .especialidades .especialidades-box{
        width: 100%;
    }
    /* SOBRE */
    section.sobre .flex{
        flex-direction: column-reverse;
    }
    .sobre .txt-sobre h2{
        font-size: 38px;
        line-height: 35px;
        text-align: center;
    }
    section.sobre{
        padding: 80px 8%;
    }
    .btn-social{
        text-align: center;
    }
    .img-sobre img{
        width: 100%;
    }

    /* PORTIFÓLIO */
    section.portifolio{
        padding: auto;
    }
    .img-port{
        width: 100%;
        max-width: 400px;
        margin: 0;
    }
    section.portifolio .flex{
        gap: 40px;
        align-items: center;
    }

    /* RODAPÉ */
    footer .flex{
        flex-direction: column;
    }
    footer .line-footer{text-align: center; footer .logo-footer{
        justify-content: center;
        align-items: center;
        display: flex;
        }
    }
    footer .logo-footer img{
        width: 25%;
    }
}
